<h1> <%=@pirate.name%> <%=@pirate.weight%> <%=@pirate.height%></h1>


<h2><% @ships.each do |ship| %>
  <%= ship.name %>
  <%= ship.type %>
  <%= ship.booty %></h2>

<h2>Display your second ship here</h2>
