<h1> <%=@pirate.name %> <%=@pirate.weight%> <%=@pirate.height%></h1>


<h2>Ships</h2>
<ul>
<% @pirate.ships.each do |ship| %>
  <%= ship.name %>
  <%= ship.type %>
  <%= ship.booty %>
<% end %>
</ul>
<h2>Display your second ship here</h2>
